doctype html   
html(ng-app="myApp")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Version: 2
		//- link(rel="stylesheet" href=`styles/#{cssFileName}`)
		link(rel="stylesheet" href=`styles/${cssFileName}`)


	body(ng-controller="MainCtrl")
		div.tab-container
			ul.tab-header
				li(ng-click="setActiveTab(1)", ng-class="{active: isActiveTab(1)}") Nanny
				//- li(ng-click="setActiveTab(2)", ng-class="{active: isActiveTab(2)}") Marmitas

			div.tab-content
				div(ng-show="isActiveTab(1)")
					div.nanny-container
						h1 Nanny
						table.table-no-line
							thead
								tr
									th Data
									th Valor do Dólar
									th Valor/hora
									th Horas
									th Valor em Dólar
									th Valor em Reais
							tbody
								tr(ng-repeat="item in dollarData")
									//- td {{ (new Date(item.date)).toLocaleDateString('pt-BR') }}
									td {{ item.date }}
									td ${{ item.rate }}
									td ${{ item.hourValue }}
									td {{ item.hours }}
									td ${{ (item.hourValue * item.hours)| number:2 }}
									td R$ {{ (item.rate * item.hourValue * item.hours) | number:2 }}
							tfoot
								tr
									td 
									td 
									td 
									td 
									td 
									td R$ {{ totalReais() }} 
								//- tr
								//- 	td(colspan="6") TOTAL $ {{totalDollar()}}									
				div(ng-show="isActiveTab(2)")
					div.marmitas-container
						h1 Marmitas
						p Contratou 40 Marmitas
						table
							thead
								tr
									th Data
									th Entregue
							tbody
								tr(ng-repeat="item in marmitaData")
									td {{ item.date }}
									td {{ item.quantity }}
							tfoot
								tr
									td(colspan="2") Restante: {{ restante() }}


		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js")
		script.
			angular.module('myApp', [])
				.controller('MainCtrl', function($scope, $http) {
					$scope.totalContratado = 40;
					$scope.activeTab = 1;

					$scope.setActiveTab = function(tabIndex) {
						$scope.activeTab = tabIndex;
					};

					$scope.isActiveTab = function(tabIndex) {
						return $scope.activeTab === tabIndex;
					};

					$http.get('data.json?v=' + new Date().getTime()).then(function(response) {
						$scope.dollarData = response.data.dollarData;
						$scope.marmitaData = response.data.marmitaData;
					});


					// Função para calcular o total em Reais
					$scope.totalReais = function() {
						if($scope.dollarData){
							const total = $scope.dollarData.reduce(function(acc, item) {
								return acc + (item.hourValue * item.hours * item.rate);
							}, 0);
							return total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						}
					};

					// Função para calcular o total em Dollar
					$scope.totalDollar = function() {
						if($scope.dollarData){
							const total = $scope.dollarData.reduce(function(acc, item) {
								return acc + (item.hourValue * item.hours);
							}, 0);
							return total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						}
					};

					$scope.totalEntregues = function() {
						if($scope.marmitaData){
							return $scope.marmitaData.reduce((total, item) => total + item.quantity, 0);
						}
					};

					$scope.restante = function() {
						return $scope.totalContratado - $scope.totalEntregues();
					};
				}); 
